body{
    background-color: #e0e0e0;


}
div.innerborder{
    background-color:#ebeded ;
    width : 60%;
    aspect-ratio: 3/2;
    border:3px solid;
    border-radius: 15px;
    border-color: white;
    margin : 4% 20%;

}

img.burger {
    width: 452px;
    height: 311px;
    position: relative;
    left: 403px;
    top: 21px;
    transform: rotate(10deg);
}
div.designspace{
    background-color: #fcdb7e;
    width : 35%;
    aspect-ratio: 31/64;
    float: right;
    border:3px solid;
    border-radius: 15px;
    border-color:#fcdb7e;


}
img.hotdog {
    position: relative;
    width: 374px;
    height: 403px;
    left: -37px;
    top: 253px;
    transform: rotate(-1deg);
}

div.logininfo{
    border-color: black;
    position: relative;
    left: 56px;
    top: -245px;


}
b.resturauntname{
    font-family: "Comic Sans MS";
    font-size: 37px;
    color: #fc6a0f;
}
pre.welcome{
    font-family: "Calibri Light";


}
b.login-text{
    font-family: "Calibri Light";
    font-size: 29px;
    font-weight: 900;
}
pre.email-text{
    font-family: "Calibri Light";
    font-size: 12px;

}
pre.password-text{
    font-family: "Calibri Light";
    font-size: 12px;

}

input[type=text]{
    width: 288px;
    height: 24px;
    background-color: #fcdb7e;
    border:3px solid;
    border-radius: 5px;
    border-color:#fcdb7e;
}
input[type=password]{
    width: 288px;
    height: 24px;
    background-color: #fcdb7e;
    border:3px solid;
    border-radius: 5px;
    border-color:#fcdb7e;
}

div.submitbutton{
    position: relative;
    top: -36%;
    right: -18%;
}

a{
    border:3px solid;
    text-decoration: none;
    color: #383838;
    border-radius: 15px;
    border-color:#fc6a0f;
    background-color: #fc6a0f;
    font-family: "Calibri Light";
    padding: 2px 20px;
    font-size: 13px;
    font-weight: 900;

}
a:hover{
    background-color:#fcdb7e ;
    border-color: #fcdb7e;
    padding:  2px 23px;
    color: black;
}

